*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: #181818;
    color: white;
    overflow: hidden;
}
/* colors{
    navbar-color: #121212;
    bg-color: #181818;
    bg-main-color: #282828;

    html-color: #E44D26, #F16529;
    css-color: #0277BD, #039BE5;
    js-color: #F0DB4F;

    min.max: #FFBD44;
    full-scr: #00CA4E;
    close: #FF605C;
} */
.container{
    width: 100%;
    height: 100vh;
    
}
.nav-bar{
    background: #121212;
    height: 60px;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
}

/* live server page design  */
.nav-bar .right a.live-server{
    padding: 10px 18px 10px 0px;
}
.nav-bar .right a.live-server.active{
    background: #282828;
    color: #c002c0;
}
.nav-bar .right #live{
    display: none;
    position: absolute;
    top: 90px;
    left: 30px;
    background: #fff;
    border: 0;
    outline: 0;
    width: 95.6%;
    height: 85vh;
    margin: 0px;
    font-size: 18px;
}
.container .live-load{
    opacity: 0;
    position: relative;
    left: 30px;
    width: 95.6%;
    background: #282828;
    margin-bottom: 4px;
    height: 25px;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.live-load h3{
    font-size: 16px;
    font-weight: bold;
}
.live-load .live-bar{
    line-height: 10px;
    position: relative;
}
.live-bar a{
    display: inline-block;
    position: relative;
    align-items: center;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-left: 5px;
}
.live-bar a .bx{
    position: relative;
    top: 12%;
    left: 10%;
    font-size: 12px;
    color: #181818;
    font-weight: bold;
    opacity: 0;
}
.live-bar a .bx:hover{
    opacity: 1;
}

.live-bar a.close{
    background: #FF605C;
}
.live-bar a.min{
    background: #FFBD44;
}
.live-bar a.full-scr{
    background: #00CA4E;
}
/* live server page design ends */

.nav-bar .left{
    display: flex;
}
.nav-bar .left a,
.nav-bar .right a{
    /* margin-right: 20px; */
    display: flex;
    align-items: center;
    line-height: 18px;
    cursor: pointer;
}
.nav-bar .right a:nth-child(1){
    margin-right: 0px;
}
.nav-bar .left a .bx,
.nav-bar .right a .bx{
    font-size: 30px;
    padding: 0px 8px;
}
/* html container design  */
.nav-bar .left a.html{
    padding: 10px 18px 10px 0px;
}
.nav-bar .left a.html.active{
    background: #282828;
    color: #F16529;
}
.container .html-container{
    display: none;  /*  unlock this */
    position: relative;
    padding: 0px 30px;
}
.container .html-container #html-code{
    background: #282828;
    border: 0;
    outline: 0;
    width: 100%;
    height: 90vh;
    padding: 20px;
    color: white;
    font-size: 18px;
}

/* css container design  */
.container .css-container{
    display: none;
    position: relative;
    padding: 0px 30px;
}
.container .css-container #css-code{
    background: #282828;
    border: 0;
    outline: 0;
    width: 100%;
    height: 90vh;
    padding: 20px;
    color: white;
    font-size: 18px;
}
.nav-bar .left a.css{
    padding: 10px 18px 10px 0px;
}
.nav-bar .left a.css.active{
    background: #282828;
    color: #039BE5;
}

/* js container design  */
.container .js-container{
    display: none;
    position: relative;
    padding: 0px 30px;
}
.container .js-container #js-code{
    background: #282828;
    border: 0;
    outline: 0;
    width: 100%;
    height: 90vh;
    padding: 20px;
    color: white;
    font-size: 18px;
}
.nav-bar .left a.js{
    padding: 10px 18px 10px 0px;
}
.nav-bar .left a.js.active{
    background: #282828;
    color: #F0DB4F;
}


